doctype
html
  head
      link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap.min.css")
      link(rel="stylesheet", href="/css/site.css")
  body
    block main-content
  
  include currentUser
  include scripts
  
